page-home {

}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.list-avatar-page {
  ion-note {
    font-size: 12px;
    align-self: flex-start;
    // margin-top: 14px;
  }
}

.kek {
  // padding: 0px;
  margin-top: -25px;
}