<ion-header>
  <ion-navbar>
    <ion-title>
      Absolute Weather
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar 
    [(ngModel)]="cityName" 
    (ionInput)="getItems($event)" 
    [debounce]="600">
  </ion-searchbar>
  <div *ngIf="city">
    <h2>{{ city.name }}:</h2>
  </div>
  <div *ngIf="currentWeather">
    <h3><b>{{currentWeather.temperature}} &#8451;</b></h3>
    <div><b>{{currentWeather.summary}}</b></div>
    <div>{{currentWeather.dailySummary}}</div>
  </div>
  <div *ngIf="hours">
    <ion-list>
      <ion-item *ngFor="let hour of hours">
        <h2>
          {{hour.time | date:'HH:mm'}}
        </h2>
        <p>{{hour.temperature}} - {{hour.windSpeed}} - {{hour.windBearing}} - {{hour.humidity}}</p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>