<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Absolute Weather
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="list-avatar-page">
  <ion-searchbar [(ngModel)]="cityName" (ionInput)="getItems($event)" [debounce]="1000">
  </ion-searchbar>
  <div *ngIf="city && currentWeather">
    <ion-card>
      <img *ngIf="cityPic" [src]="cityPic" />
      <ion-card-content>
        <ion-card-title>
          {{city.name}}: {{currentWeather.temperature}} &#8451;
        </ion-card-title>
        <p>
          {{currentWeather.summary}}
        </p>
      </ion-card-content>
    </ion-card>
  </div>
  
  <div *ngIf="hours">
    <ion-list>
      <ion-list-header>03.06.2017</ion-list-header>
      <ion-item *ngFor="let hour of hours">
        <div item-start class="kek">
          <label style="padding:0px;">
            <b>{{hour.time | date:'HH:mm'}}</b>
          </label>
        </div>
        <h2>
          <ion-icon name="thunderstorm"></ion-icon> {{hour.temperature}} &#8451;</h2>
        <h3>Wind: {{hour.windSpeed}}, {{hour.windBearing}}</h3>
        <p>Humidity: {{hour.humidity}}</p>
        <!--<ion-note item-right>{{hour.time | date:'HH:mm'}}</ion-note>-->
      </ion-item>
    </ion-list>
  </div>
</ion-content>